<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>

  $( document ).ready(function() {
    $( "#theform" ).submit(function( event ) {
      
      console.log( "ready!" );
      event.preventDefault();
      var itemId = document.getElementById("itemid").value;
      var hackerId = document.getElementById("hackerid").value;
      console.log(itemId);
      console.log(hackerId);
      
      $.get("/getItem/"+itemId, function(data){
        
        console.log(data);
        
        var dataParameter = {
          "amount_money": {
            "amount" : data.depositValue,
            "currency_code" : "CAD"
          },
          "callback_url" : "https://hardwarerental-kshen3778.c9users.io/done", // Replace this value with your application's callback URL
          "client_id" : "sq0idp-BCZe60FZNopeSoM7Zfqlcw", // Replace this value with your application's ID
          "version": "1.3",
          "notes": itemId + "," + hackerId,
          "options" : {
            "supported_tender_types" : ["CREDIT_CARD", "CASH"]
          }
        };
        window.location = "square-commerce-v1://payment/create?data=" + encodeURIComponent(JSON.stringify(dataParameter));
      
      });
    });
  });


</script>
<form action="/hello" id="theform" method="GET">
  Enter Item ID:<br>
  <input type="text" id="itemid" value=""><br>
  Hacker ID:<br>
  <input type="text" id="hackerid" value=""><br><br>
  <input type="submit" value="Submit">
</form>